@model FinalAssignment.Models.Products
@using FinalAssignment.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var clayout = "";
    var admin = Session["admin"];

    //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
    try
    {
        //if logging in using the cookie we need this to take value from cookie instead of Database
        admin = Request.Cookies["AdminSession"].Value.ToString();
        //Uses session to pass isadmin from database to var to pick what layout to render.
        if (admin.Equals("true"))
        {
            clayout = "~/Views/Shared/_AdminLayout.cshtml";
        }
        else
        {
            clayout = "~/Views/Shared/_AdminLayout.cshtml";
            Response.Redirect("~/Home/Index");
        }
        Layout = clayout;
    }
    catch (NullReferenceException ex)
    {
        clayout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = clayout;
    }
}

<style>
    /* Importing fonts from Google */
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

    /* Reseting */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        background: #ecf0f3;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="wrapper">
        <div class="logo">
            <img src="https://i.imgur.com/8MksPRA.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Create Product
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <!-- <input type="text" name="userName" id="userName" placeholder="Username"> -->
                @Html.EditorFor(model => model.name, new { htmlAttributes = new {placeholder="Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new {placeholder="Quantity", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                @Html.EditorFor(model => model.price, new { htmlAttributes = new {placeholder="Price", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })

            </div>
            <input type="submit" value="Create" class="btn btn-default" />
        </form>
        <div class="text-center fs-4">
            <a href="">@Html.ActionLink("Back to List", "Index")</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
